.BodyHeader {
    margin: 0;
    padding: 0;
    font-family: Header_Font;
    color: white;

    @font-face {
        font-family: Header_Font;
        src: url(../fonts/Audiowide-Regular.ttf);
    }   
    
    .background_header {
        width: 90vw;
        margin: 0 auto;
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
    
        background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 5%, rgba(0,0,0,0.9) 50%, rgba(0,0,0,0.9) 95%, rgba(0,0,0,0) 100%);
    }
    
    .banner {
        width: 90%;
        height: 300px;
        margin: auto;
    
        display: flex;
        align-items: center;
        justify-content: center;
    
        background-image: url(../../../public/assets/layoutImages/background_header.gif);
        background-position: center;
        background-size: cover;
        border-radius: 50px;
        -webkit-box-shadow: inset 0px 0px 20px 10px rgba(0,0,0,1);
        -moz-box-shadow: inset 0px 0px 20px 10px rgba(0,0,0,1);
        box-shadow: inset 0px 0px 20px 10px rgba(0,0,0,1);
    }
    
    .banner_text {
        font-size: 1.5rem;
        text-align: center;
    }
    
    .colorup {
        font-size: 3rem;
    }
    
    .banner_text:hover .colorup {
        font-size: 4rem;
        color: yellow;
    }
    
    .banner_text:hover {
        text-shadow: 5px 5px 0px black;
        font-size: 2rem;
        color: lightsalmon;
    }
    
    .MainBody {
        display: flex;
        height: 165px;
        width: 100%;
    }
    
    .logo {
        display: flex;
        align-items: center;
        min-width: 120px;
        height: 160px;
        margin-inline: 30px;
        text-align: center;
    }
    
    .logo img {
        height: 120px;
        width: 120px;
        margin-left: 30px;
        filter: invert(98%) sepia(100%) saturate(0%) hue-rotate(325deg) brightness(101%) contrast(105%);
    }
    
    .logo img:hover {
        filter: invert(8%) sepia(97%) saturate(5633%) hue-rotate(360deg) brightness(83%) contrast(109%);
    }
    
    .logo img:active {
        filter: invert(47%) sepia(99%) saturate(1067%) hue-rotate(10deg) brightness(90%) contrast(101%);
    }
    
    .menus {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    
    .prvi_red {
        height: 80px;
        width: 95%;
    
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        align-items: center;
    }
    
    .email {
        width: 280px;
    }
    
    .tel {
        width: 260px;
    }
    
    .basket, .login {
        width: 50px;
    }
    
    .prvi_red > div {
        height: 30px;
        display: flex;
        align-items: center;
        padding: 5px;
    }
    
    :is(.prvi_red, .drugi_red) a:hover {
        font-size: 1.1rem;
        color: darkred;
    }
    
    .menus .social_media {
        display: flex;
        justify-content: space-around;
        width: 200px;
    }

    .menus .social_media div {
        width: 40px;
    }

    #fb, #tw, #in, #wp, .basket, .login, .tel i, .email i {
        font-size: 1.5rem;
    }

    .tel i, .email i {
        margin-right: 8px;
    }

    :is(#fb, #tw, #in, #wp, .basket i, .login i):hover {
        font-size: 2rem;
    }
    
    #fb:hover {
        color: rgb(66, 108, 226);
    }

    #tw:hover {
        color: rgb(0, 157, 255);
    }

    #in:hover {
        color: rgb(212, 107, 125);
    }

    #wp:hover {    
        color: rgb(38, 122, 5);
    }

    .prvi_red img {
        height: 30px;
        width: 30px;
    }
    
    #search_bar {
        border: 1px solid black;
        font-size: 1rem;
        height: 40px;
        width: 150px;
        border-radius: 25px;
    }

    .basket {
        margin-left: auto;
    }

    .login {
        margin-right: 10px;
    }
    
    .drugi_red {
        height: 80px;
        width: 95%;
    
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        border-top: 1px white solid;
    }
    
    .drugi_red > div {
        height: 30px;
        width: 200px;
    
        display: flex;
        align-items: center;
    }
    
    a {
        color: white;
        text-decoration: none;
    }
    
    :is(.prvi_red, .drugi_red) a:active {
        color: orange;
    }
    
    a, img, button, .banner_text, span, i:hover {
        transition: 0.1s linear all;
    }
    
    .banner_text, span, i:not(:hover) {
        transition: 0.1s linear all;
    }

    .theme_button {
        position: absolute;
        top: 5px;
        right: 5px;
        width: 70px;
        height: 70px;

        display: flex;
        justify-content: center;
        align-items: center;

        button {
            width: 50px;
            height: 50px;
            border-radius: 50px;
            border: none;
            font-size: 2rem;
            background-color: white;
        }

        button:hover {
            width: 58px;
            height: 58px;
            transition: 0.1s linear all;
            color: orange;
        }

        button:not(:hover) {
            transition: 0.1s linear all;
        }

        button:active {
            width: 52px;
            height: 52px;
        }

    }
    
    @media screen and (max-width: 1080px) {
        .logo img {
            height: 120px;
            width: 120px;
        }
    
        #search_bar {
            width: 120px;
            height: 30px;
            margin-inline: 0px;
        }
    
        .social_media {
            width: 160px;
        }
    
        .prvi_red > div:not(.basket, .login) {
            margin-inline: 15px;
        }
    }
    
    @media screen and (max-width: 850px) {
        .menus  {
            align-items: center;
            margin-left: 20px;
        }
    
        .background_header {
            height: 190px;
            width: 95vw;
        }
    
        .banner {
            height: 120px;
        }
    
        .colorup {
            font-size: 1.8rem;
        }
        
        .banner_text:hover .colorup {
            font-size: 2rem;
        }
    
        .logo {
            min-width: 60px;
            height: 60px;
            margin: 0px;
        }
    
        .logo img {
            height: 60px;
            width: 60px;
            margin-left: 10px;
        }
    
        .MainBody {
            height: 70px;
        }
    
        .prvi_red, .drugi_red {
            height: 34px;
        }
    
        .prvi_red > div:not(.basket, .login) {
            margin-inline: 0px;
        }
    
        .remove_mq, .prvi_red :is(.email, .tel, .social_media), .drugi_red {
            display: none;
        }
    
        .prvi_red > div {
            padding: 0px;
        }
    
        #search_bar {
            width: 120px;
            height: 25px;
            margin-inline: 0px;
        }
    
        .drugi_red > div {
            width: auto;
        }
    }  
}